.cover__overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(320px, 1184px);
    grid-template-rows: 33px auto 16px auto 33px;
    background: url(/image/cover-trains.jpg);
    background-size: cover;
    min-height: 200px;
}
.cover__overlay::before {
    background-color: rgba(42, 44, 47, 0.3);
    grid-column: 1;
    grid-row: 1/6;
    justify-self: stretch;
    align-self: stretch;
}


@media (min-width: 768px) {
    .cover__overlay{
        grid-template-rows: 115px auto 32px auto 115px;
        min-height: 480px;
    }
}
@media (min-width: 1024px) {
    .cover__overlay {
        grid-template-rows: 195px auto 32px auto 195px;
        min-height: 640px;
    }
}
@media (min-width: 1280px) {
    .cover__overlay {
        grid-template-rows: 245px auto 32px auto 245px;
        min-height: 740px;
    }
}